:host {
  display: block;
}

main {
  overflow-y: auto;
}

.bg-sandal{
  background-color: #f0f0f0;
}

.rounded-top-right {
  border-top-right-radius: 5rem;
}

.rounded-bottom-right{
  border-bottom-right-radius: 5rem;
}
